<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.jikuodong.springboot.mapper.HospitalInfoMapper">
  <resultMap id="BaseResultMap" type="net.jikuodong.springboot.po.HospitalInfo">
    <id column="hospital_id" jdbcType="VARCHAR" property="hospitalId" />
    <result column="city_id" jdbcType="VARCHAR" property="cityId" />
    <result column="hospital_code" jdbcType="VARCHAR" property="hospitalCode" />
    <result column="hospital_name" jdbcType="VARCHAR" property="hospitalName" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="def1" jdbcType="INTEGER" property="def1" />
    <result column="def2" jdbcType="INTEGER" property="def2" />
    <result column="def3" jdbcType="VARCHAR" property="def3" />
    <result column="def4" jdbcType="VARCHAR" property="def4" />
    <result column="def5" jdbcType="VARCHAR" property="def5" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    hospital_id, city_id, hospital_code, hospital_name, code, def1, def2, def3, def4, 
    def5
  </sql>
  <select id="selectByExample" parameterType="net.jikuodong.springboot.po.HospitalInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hospital_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hospital_info
    where hospital_id = #{hospitalId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from hospital_info
    where hospital_id = #{hospitalId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="net.jikuodong.springboot.po.HospitalInfoExample">
    delete from hospital_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.jikuodong.springboot.po.HospitalInfo">
    insert into hospital_info (hospital_id, city_id, hospital_code, 
      hospital_name, code, def1, 
      def2, def3, def4, def5
      )
    values (#{hospitalId,jdbcType=VARCHAR}, #{cityId,jdbcType=VARCHAR}, #{hospitalCode,jdbcType=VARCHAR}, 
      #{hospitalName,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{def1,jdbcType=INTEGER}, 
      #{def2,jdbcType=INTEGER}, #{def3,jdbcType=VARCHAR}, #{def4,jdbcType=VARCHAR}, #{def5,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.jikuodong.springboot.po.HospitalInfo">
    insert into hospital_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hospitalId != null">
        hospital_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="hospitalCode != null">
        hospital_code,
      </if>
      <if test="hospitalName != null">
        hospital_name,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="def1 != null">
        def1,
      </if>
      <if test="def2 != null">
        def2,
      </if>
      <if test="def3 != null">
        def3,
      </if>
      <if test="def4 != null">
        def4,
      </if>
      <if test="def5 != null">
        def5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hospitalId != null">
        #{hospitalId,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="hospitalCode != null">
        #{hospitalCode,jdbcType=VARCHAR},
      </if>
      <if test="hospitalName != null">
        #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="def1 != null">
        #{def1,jdbcType=INTEGER},
      </if>
      <if test="def2 != null">
        #{def2,jdbcType=INTEGER},
      </if>
      <if test="def3 != null">
        #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def4 != null">
        #{def4,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        #{def5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.jikuodong.springboot.po.HospitalInfoExample" resultType="java.lang.Long">
    select count(*) from hospital_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update hospital_info
    <set>
      <if test="record.hospitalId != null">
        hospital_id = #{record.hospitalId,jdbcType=VARCHAR},
      </if>
      <if test="record.cityId != null">
        city_id = #{record.cityId,jdbcType=VARCHAR},
      </if>
      <if test="record.hospitalCode != null">
        hospital_code = #{record.hospitalCode,jdbcType=VARCHAR},
      </if>
      <if test="record.hospitalName != null">
        hospital_name = #{record.hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.def1 != null">
        def1 = #{record.def1,jdbcType=INTEGER},
      </if>
      <if test="record.def2 != null">
        def2 = #{record.def2,jdbcType=INTEGER},
      </if>
      <if test="record.def3 != null">
        def3 = #{record.def3,jdbcType=VARCHAR},
      </if>
      <if test="record.def4 != null">
        def4 = #{record.def4,jdbcType=VARCHAR},
      </if>
      <if test="record.def5 != null">
        def5 = #{record.def5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update hospital_info
    set hospital_id = #{record.hospitalId,jdbcType=VARCHAR},
      city_id = #{record.cityId,jdbcType=VARCHAR},
      hospital_code = #{record.hospitalCode,jdbcType=VARCHAR},
      hospital_name = #{record.hospitalName,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      def1 = #{record.def1,jdbcType=INTEGER},
      def2 = #{record.def2,jdbcType=INTEGER},
      def3 = #{record.def3,jdbcType=VARCHAR},
      def4 = #{record.def4,jdbcType=VARCHAR},
      def5 = #{record.def5,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.jikuodong.springboot.po.HospitalInfo">
    update hospital_info
    <set>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="hospitalCode != null">
        hospital_code = #{hospitalCode,jdbcType=VARCHAR},
      </if>
      <if test="hospitalName != null">
        hospital_name = #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="def1 != null">
        def1 = #{def1,jdbcType=INTEGER},
      </if>
      <if test="def2 != null">
        def2 = #{def2,jdbcType=INTEGER},
      </if>
      <if test="def3 != null">
        def3 = #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def4 != null">
        def4 = #{def4,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        def5 = #{def5,jdbcType=VARCHAR},
      </if>
    </set>
    where hospital_id = #{hospitalId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.jikuodong.springboot.po.HospitalInfo">
    update hospital_info
    set city_id = #{cityId,jdbcType=VARCHAR},
      hospital_code = #{hospitalCode,jdbcType=VARCHAR},
      hospital_name = #{hospitalName,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      def1 = #{def1,jdbcType=INTEGER},
      def2 = #{def2,jdbcType=INTEGER},
      def3 = #{def3,jdbcType=VARCHAR},
      def4 = #{def4,jdbcType=VARCHAR},
      def5 = #{def5,jdbcType=VARCHAR}
    where hospital_id = #{hospitalId,jdbcType=VARCHAR}
  </update>
</mapper>