<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.jikuodong.springboot.mapper.SlideMaterialsMapper">
  <resultMap id="BaseResultMap" type="net.jikuodong.springboot.po.SlideMaterials">
    <id column="slide_material_id" jdbcType="VARCHAR" property="slideMaterialId" />
    <result column="slide_id" jdbcType="VARCHAR" property="slideId" />
    <result column="pic_name" jdbcType="VARCHAR" property="picName" />
    <result column="pic_addr" jdbcType="VARCHAR" property="picAddr" />
    <result column="drawn_path" jdbcType="VARCHAR" property="drawnPath" />
    <result column="mark_type" jdbcType="VARCHAR" property="markType" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="is_express_brief" jdbcType="INTEGER" property="isExpressBrief" />
    <result column="brief_path" jdbcType="VARCHAR" property="briefPath" />
    <result column="def1" jdbcType="INTEGER" property="def1" />
    <result column="def2" jdbcType="INTEGER" property="def2" />
    <result column="def3" jdbcType="VARCHAR" property="def3" />
    <result column="def4" jdbcType="VARCHAR" property="def4" />
    <result column="def5" jdbcType="VARCHAR" property="def5" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    slide_material_id, slide_id, pic_name, pic_addr, drawn_path, mark_type, pic_url, 
    is_express_brief, brief_path, def1, def2, def3, def4, def5
  </sql>
  <select id="selectByExample" parameterType="net.jikuodong.springboot.po.SlideMaterialsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from slide_materials
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from slide_materials
    where slide_material_id = #{slideMaterialId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from slide_materials
    where slide_material_id = #{slideMaterialId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="net.jikuodong.springboot.po.SlideMaterialsExample">
    delete from slide_materials
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.jikuodong.springboot.po.SlideMaterials">
    insert into slide_materials (slide_material_id, slide_id, pic_name, 
      pic_addr, drawn_path, mark_type, 
      pic_url, is_express_brief, brief_path, 
      def1, def2, def3, def4, 
      def5)
    values (#{slideMaterialId,jdbcType=VARCHAR}, #{slideId,jdbcType=VARCHAR}, #{picName,jdbcType=VARCHAR}, 
      #{picAddr,jdbcType=VARCHAR}, #{drawnPath,jdbcType=VARCHAR}, #{markType,jdbcType=VARCHAR}, 
      #{picUrl,jdbcType=VARCHAR}, #{isExpressBrief,jdbcType=INTEGER}, #{briefPath,jdbcType=VARCHAR}, 
      #{def1,jdbcType=INTEGER}, #{def2,jdbcType=INTEGER}, #{def3,jdbcType=VARCHAR}, #{def4,jdbcType=VARCHAR}, 
      #{def5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.jikuodong.springboot.po.SlideMaterials">
    insert into slide_materials
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="slideMaterialId != null">
        slide_material_id,
      </if>
      <if test="slideId != null">
        slide_id,
      </if>
      <if test="picName != null">
        pic_name,
      </if>
      <if test="picAddr != null">
        pic_addr,
      </if>
      <if test="drawnPath != null">
        drawn_path,
      </if>
      <if test="markType != null">
        mark_type,
      </if>
      <if test="picUrl != null">
        pic_url,
      </if>
      <if test="isExpressBrief != null">
        is_express_brief,
      </if>
      <if test="briefPath != null">
        brief_path,
      </if>
      <if test="def1 != null">
        def1,
      </if>
      <if test="def2 != null">
        def2,
      </if>
      <if test="def3 != null">
        def3,
      </if>
      <if test="def4 != null">
        def4,
      </if>
      <if test="def5 != null">
        def5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="slideMaterialId != null">
        #{slideMaterialId,jdbcType=VARCHAR},
      </if>
      <if test="slideId != null">
        #{slideId,jdbcType=VARCHAR},
      </if>
      <if test="picName != null">
        #{picName,jdbcType=VARCHAR},
      </if>
      <if test="picAddr != null">
        #{picAddr,jdbcType=VARCHAR},
      </if>
      <if test="drawnPath != null">
        #{drawnPath,jdbcType=VARCHAR},
      </if>
      <if test="markType != null">
        #{markType,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="isExpressBrief != null">
        #{isExpressBrief,jdbcType=INTEGER},
      </if>
      <if test="briefPath != null">
        #{briefPath,jdbcType=VARCHAR},
      </if>
      <if test="def1 != null">
        #{def1,jdbcType=INTEGER},
      </if>
      <if test="def2 != null">
        #{def2,jdbcType=INTEGER},
      </if>
      <if test="def3 != null">
        #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def4 != null">
        #{def4,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        #{def5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.jikuodong.springboot.po.SlideMaterialsExample" resultType="java.lang.Long">
    select count(*) from slide_materials
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update slide_materials
    <set>
      <if test="record.slideMaterialId != null">
        slide_material_id = #{record.slideMaterialId,jdbcType=VARCHAR},
      </if>
      <if test="record.slideId != null">
        slide_id = #{record.slideId,jdbcType=VARCHAR},
      </if>
      <if test="record.picName != null">
        pic_name = #{record.picName,jdbcType=VARCHAR},
      </if>
      <if test="record.picAddr != null">
        pic_addr = #{record.picAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.drawnPath != null">
        drawn_path = #{record.drawnPath,jdbcType=VARCHAR},
      </if>
      <if test="record.markType != null">
        mark_type = #{record.markType,jdbcType=VARCHAR},
      </if>
      <if test="record.picUrl != null">
        pic_url = #{record.picUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.isExpressBrief != null">
        is_express_brief = #{record.isExpressBrief,jdbcType=INTEGER},
      </if>
      <if test="record.briefPath != null">
        brief_path = #{record.briefPath,jdbcType=VARCHAR},
      </if>
      <if test="record.def1 != null">
        def1 = #{record.def1,jdbcType=INTEGER},
      </if>
      <if test="record.def2 != null">
        def2 = #{record.def2,jdbcType=INTEGER},
      </if>
      <if test="record.def3 != null">
        def3 = #{record.def3,jdbcType=VARCHAR},
      </if>
      <if test="record.def4 != null">
        def4 = #{record.def4,jdbcType=VARCHAR},
      </if>
      <if test="record.def5 != null">
        def5 = #{record.def5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update slide_materials
    set slide_material_id = #{record.slideMaterialId,jdbcType=VARCHAR},
      slide_id = #{record.slideId,jdbcType=VARCHAR},
      pic_name = #{record.picName,jdbcType=VARCHAR},
      pic_addr = #{record.picAddr,jdbcType=VARCHAR},
      drawn_path = #{record.drawnPath,jdbcType=VARCHAR},
      mark_type = #{record.markType,jdbcType=VARCHAR},
      pic_url = #{record.picUrl,jdbcType=VARCHAR},
      is_express_brief = #{record.isExpressBrief,jdbcType=INTEGER},
      brief_path = #{record.briefPath,jdbcType=VARCHAR},
      def1 = #{record.def1,jdbcType=INTEGER},
      def2 = #{record.def2,jdbcType=INTEGER},
      def3 = #{record.def3,jdbcType=VARCHAR},
      def4 = #{record.def4,jdbcType=VARCHAR},
      def5 = #{record.def5,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.jikuodong.springboot.po.SlideMaterials">
    update slide_materials
    <set>
      <if test="slideId != null">
        slide_id = #{slideId,jdbcType=VARCHAR},
      </if>
      <if test="picName != null">
        pic_name = #{picName,jdbcType=VARCHAR},
      </if>
      <if test="picAddr != null">
        pic_addr = #{picAddr,jdbcType=VARCHAR},
      </if>
      <if test="drawnPath != null">
        drawn_path = #{drawnPath,jdbcType=VARCHAR},
      </if>
      <if test="markType != null">
        mark_type = #{markType,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="isExpressBrief != null">
        is_express_brief = #{isExpressBrief,jdbcType=INTEGER},
      </if>
      <if test="briefPath != null">
        brief_path = #{briefPath,jdbcType=VARCHAR},
      </if>
      <if test="def1 != null">
        def1 = #{def1,jdbcType=INTEGER},
      </if>
      <if test="def2 != null">
        def2 = #{def2,jdbcType=INTEGER},
      </if>
      <if test="def3 != null">
        def3 = #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def4 != null">
        def4 = #{def4,jdbcType=VARCHAR},
      </if>
      <if test="def5 != null">
        def5 = #{def5,jdbcType=VARCHAR},
      </if>
    </set>
    where slide_material_id = #{slideMaterialId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.jikuodong.springboot.po.SlideMaterials">
    update slide_materials
    set slide_id = #{slideId,jdbcType=VARCHAR},
      pic_name = #{picName,jdbcType=VARCHAR},
      pic_addr = #{picAddr,jdbcType=VARCHAR},
      drawn_path = #{drawnPath,jdbcType=VARCHAR},
      mark_type = #{markType,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      is_express_brief = #{isExpressBrief,jdbcType=INTEGER},
      brief_path = #{briefPath,jdbcType=VARCHAR},
      def1 = #{def1,jdbcType=INTEGER},
      def2 = #{def2,jdbcType=INTEGER},
      def3 = #{def3,jdbcType=VARCHAR},
      def4 = #{def4,jdbcType=VARCHAR},
      def5 = #{def5,jdbcType=VARCHAR}
    where slide_material_id = #{slideMaterialId,jdbcType=VARCHAR}
  </update>
</mapper>